
.main{
    border: 2px solid black;
  height: 500px;
}
.articles{
    display: flex;
  justify-content: space-around;
}

.box{
    border: 2px solid black;
    
    display: inline;
    flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 10px;
}

.btn{
    background: transparent;
    border: none;
    font-size: 30px;
}
.btn i:hover{
    cursor: pointer;
}

.del{
    background: transparent;
    border: none;
    font-size: 30px;
}
.del i:hover{
    cursor: pointer;
}

.icon1{
    display: flex;
    margin-top: 15px;
}
.icon2{
    display: flex;
    margin-top: 15px;
}
.icon3{
    display: flex;
    margin-top: 15px;
}
.faSolid{
    background: transparent;
    border: none;
    font-size: 30px;
    color: red;
}

.fa-heart {
    color:aquamarine;
}
.fa-heart.liked{
    color: red;
}
.sammba {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.plus, .moins {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.faSolid {
    color: red;
    cursor: pointer;
}

.num, .prix-unit {
    margin: 0 10px;
}